{% extends "lab_7/layout/base.html" %}
{% block content %}
<section name="friend-list" class="friend-list">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                  <h2> My Friend(s) </h2>
                  <div id="friend-list" class="list-group">
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascript %}
<script>
    
    $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:get-friend-list" %}',
                success: function (friend_list) {
                    var list = JSON.parse(friend_list);
                    if(list.length==0) {
                        var html = '<div class="alert alert-danger text-center">\
                            <strong>Oops!</strong> Tidak ada teman\
                            </div>';
                        $("#friend-list").append(html)
                    }
                    else {
                        $.each(list, function(index, friend) {
                            var delete_button = 
                                '<span class="pull-right">'+
                                  '<span class="btn btn-xs btn-default" onClick="deleteFriend('+friend.pk+', friend'+friend.pk+')">'+
                                    'Delete'+
                                  '</span>'+
                                '</span>';
                            var detail_button =
                            '<span class="pull-right">'+
                              '<a class="btn btn-xs btn-default" href="/lab-7/friend-detail/'+friend.pk+'/">'+
                                'Detail'+
                              '</a>'+
                            '</span>';
                            var html = '<div class="list-group-item clearfix" id="friend'+friend.pk+'">'+
                                        friend.fields.friend_name +
                                        ' (' + friend.fields.npm + ')' +delete_button+ detail_button +'</div>';
                            $("#friend-list").append(html)
                        });
                    }
                }
            });
        });



    var deleteFriend = function(friend_id, friend_html_id) {
      deleteUrl = "/lab-7/delete-friend/"+friend_id+"/"
      curr_friend_html_id = '#'+friend_html_id.id
      $.ajax({
          method: "POST",
          url: deleteUrl,
          complete : function () {
            $(curr_friend_html_id).remove();
          },
      });
    }
</script>
{% endblock %}